<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".RssUiApplication" android:allowBackup="true" android:icon="@mipmap/ic_launcher_rss" android:roundIcon="@mipmap/ic_launcher_rss" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/SplashTheme">
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SyncSetupActivity" android:exported="false" />
        <activity android:name=".GoogleDriveFolderPickerActivity" android:exported="false" />
        <activity android:name=".FolderSyncActivity" android:exported="false" />
        <activity android:name=".ExternalStorageActivity" android:exported="false" />
        <activity android:name=".AboutActivity" android:exported="false" />
        <activity android:name=".ContactActivity" android:exported="false" />
        <activity android:name=".TermsActivity" android:exported="false" />
        <activity android:name=".FreeFeaturesActivity" android:exported="false" />
        <activity android:name=".PremiumActivity" android:exported="false" />
        <activity android:name=".CloudAccountsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".HistoryActivity" android:exported="false" />
    </application>
</manifest>
